<a href="https://colab.research.google.com/github/2303A51710Viveksai/2303A51710-Application-of-Data-Mining/blob/main/Assignment_2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [13]:
file_path = "/content/student-dataset.csv"
df = pd.read_csv(file_path)

In [7]:
print("Original Dataset:")
print(df.head())

Original Dataset:
   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22            3.5         3.7             3.1
1     34.39    -118.54      M   22            2.9         3.2             3.6
2     37.80    -122.27      F   22            3.9         3.8             3.2
3     37.69    -122.09      F   20            3.3         2.8             NaN
4    -23.18     -45.88      F   21            3.7         2.6             3.4

   language.grade  portfolio.rating  coverletter.rating  refletter.rating
0             1.0                 4                 4.0                 4
1             5.0                 5                 4.0                 5
2             5.0                 3                 3.0                 4
3             5.0                 5                 2.0                 4
4             1.0                 4                 4.0                 5

In [15]:
if 'science' in df.columns:
      median_science = df['science'].median()
      df['science'].fillna(median_science, inplace=True)

In [16]:
scaler = MinMaxScaler()
df[["math.grade","sciences.grade","language.grade"]]=scaler.fit_transform(df[["math.grade","sciences.grade","language.grade"]])

In [17]:
print("\nProcessed Dataset (After Imputation and Normalization):")
print(df.head())

Processed Dataset (After Imputation and Normalization):
   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22            3.5    0.842105        0.653846
1     34.39    -118.54      M   22            2.9    0.578947        0.846154
2     37.80    -122.27      F   22            3.9    0.894737        0.692308
3     37.69    -122.09      F   20            3.3    0.368421             NaN
4    -23.18     -45.88      F   21            3.7    0.263158        0.769231

   language.grade  portfolio.rating  coverletter.rating  refletter.rating
0             0.0                 4                 4.0                 4
1             1.0                 5                 4.0                 5
2             1.0                 3                 3.0                 4
3             1.0                 5                 2.0                 4
4             0.0                 4                 4.0                 5

In [18]:
df.to_csv("processed_student_dataset.csv", index=False)
print("\nProcessed dataset saved as 'processed_student_dataset.csv'")

Processed dataset saved as 'processed_student_dataset.csv'