<a href="https://colab.research.google.com/github/2303A51710Viveksai/2303A51710-Application-of-Data-Mining/blob/main/data_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("patients.csv")

In [3]:
df.isnull().sum()

Patient_ID        0
Age               0
Glucose_Level     5
Blood_Pressure    5
Insulin           5
BMI               5
dtype: int64

In [4]:
df["Glucose_Level"].fillna(df["Glucose_Level"].mean(),inplace=True)
df["Blood_Pressure"].fillna(df["Blood_Pressure"].mode()[0],inplace=True)
df["Insulin"].fillna(df["Insulin"].median(),inplace=True)

<ipython-input-4-d59dc95a22e3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Glucose_Level"].fillna(df["Glucose_Level"].mean(),inplace=True)
<ipython-input-4-d59dc95a22e3>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Blood_Pressure"].fillna(df["Blood_Pressure"].mode()[0],inplace=True)
<ipython-input-4-d59dc95a22e3>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Insulin"].fillna(df["Insulin"].median(),inplace=True)

In [5]:
df["BMI"].fillna(df["BMI"].mean(),inplace=True)

<ipython-input-5-b4562ed032b8>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BMI"].fillna(df["BMI"].mean(),inplace=True)

In [6]:
df.isnull().sum()

Patient_ID        0
Age               0
Glucose_Level     0
Blood_Pressure    0
Insulin           0
BMI               0
dtype: int64

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
a=MinMaxScaler()
df=a.fit_transform(df)

In [9]:
df

array([[0.        , 0.53061224, 0.94285714, 0.42857143, 0.38888889,
        0.52554008],
       [0.02040816, 0.32653061, 0.95714286, 0.16883117, 0.64583333,
        0.82610021],
       [0.04081633, 0.06122449, 0.04285714, 0.38961039, 1.        ,
        0.8162711 ],
       [0.06122449, 0.91836735, 0.91428571, 0.44155844, 0.02777778,
        0.05511516],
       [0.08163265, 0.81632653, 0.55714286, 0.27272727, 0.70138889,
        0.68573289],
       [0.10204082, 0.26530612, 0.47142857, 0.23376623, 0.46527778,
        0.        ],
       [0.12244898, 0.65306122, 0.34285714, 0.        , 0.55555556,
        0.74258858],
       [0.14285714, 0.24489796, 0.11428571, 0.93506494, 0.46527778,
        0.25616947],
       [0.16326531, 0.6122449 , 0.45238095, 0.51948052, 0.94444444,
        0.91311748],
       [0.18367347, 0.89795918, 0.42857143, 0.25974026, 0.30555556,
        0.25882554],
       [0.20408163, 0.65306122, 0.88571429, 0.74025974, 0.88194444,
        0.52554008],
       [0.2244898 , 0.57142857, 0.07142857, 0.37662338, 0.08333333,
        0.40942507],
       [0.24489796, 0.83673469, 0.01428571, 0.98701299, 0.75694444,
        0.08734996],
       [0.26530612, 0.        , 0.74285714, 0.96103896, 0.01388889,
        1.        ],
       [0.28571429, 0.51020408, 0.8       , 0.93506494, 0.32638889,
        0.80329395],
       [0.30612245, 0.18367347, 1.        , 0.23376623, 0.02083333,
        0.61694101],
       [0.32653061, 0.20408163, 0.47142857, 0.77922078, 0.1875    ,
        0.48354972],
       [0.34693878, 1.        , 0.18571429, 0.74025974, 0.50694444,
        0.11719005],
       [0.36734694, 0.08163265, 0.3       , 0.55844156, 0.25694444,
        0.28163211],
       [0.3877551 , 0.51020408, 0.44285714, 1.        , 0.46527778,
        0.94616539],
       [0.40816327, 0.63265306, 0.11428571, 0.28571429, 0.36805556,
        0.77981969],
       [0.42857143, 0.42857143, 0.71428571, 0.8961039 , 0.31944444,
        0.09811187],
       [0.44897959, 0.93877551, 0.81428571, 0.75324675, 0.82638889,
        0.92215041],
       [0.46938776, 0.85714286, 0.45238095, 0.27272727, 0.66666667,
        0.96817746],
       [0.48979592, 0.57142857, 0.2       , 0.68831169, 0.21527778,
        0.30269619],
       [0.51020408, 0.63265306, 0.52857143, 0.36363636, 0.45138889,
        0.97646304],
       [0.53061224, 0.36734694, 0.1       , 0.7012987 , 0.        ,
        0.52226918],
       [0.55102041, 0.26530612, 0.48571429, 0.61038961, 0.81944444,
        0.52554008],
       [0.57142857, 0.2244898 , 0.91428571, 0.75324675, 0.46527778,
        0.33762166],
       [0.59183673, 0.42857143, 0.31428571, 0.94805195, 0.51388889,
        0.15504256],
       [0.6122449 , 0.67346939, 0.98571429, 0.19480519, 0.52083333,
        0.53690058],
       [0.63265306, 0.79591837, 0.12857143, 0.96103896, 0.46527778,
        0.89858794],
       [0.65306122, 0.67346939, 0.45714286, 0.7012987 , 0.86111111,
        0.39123496],
       [0.67346939, 0.75510204, 0.2       , 0.63636364, 0.36111111,
        0.06299772],
       [0.69387755, 0.89795918, 0.94285714, 0.33766234, 0.90972222,
        0.31649978],
       [0.71428571, 0.16326531, 0.        , 0.38961039, 0.74305556,
        0.4356047 ],
       [0.73469388, 0.79591837, 0.45238095, 0.87012987, 0.27777778,
        0.62905882],
       [0.75510204, 0.83673469, 0.88571429, 0.09090909, 0.29166667,
        0.04969784],
       [0.7755102 , 0.        , 0.45238095, 0.81818182, 0.875     ,
        0.3344991 ],
       [0.79591837, 0.44897959, 0.08571429, 0.74025974, 0.07638889,
        0.03782294],
       [0.81632653, 0.59183673, 0.17142857, 0.74025974, 0.5625    ,
        0.87907687],
       [0.83673469, 0.55102041, 0.24285714, 0.05194805, 0.09722222,
        0.52554008],
       [0.85714286, 0.32653061, 0.45238095, 0.74025974, 0.11805556,
        0.4327489 ],
       [0.87755102, 0.42857143, 0.22857143, 0.36363636, 0.14583333,
        0.98248549],
       [0.89795918, 0.18367347, 0.01428571, 0.74025974, 0.46527778,
        0.85650051],
       [0.91836735, 0.63265306, 0.94285714, 0.94805195, 0.9375    ,
        0.66373261],
       [0.93877551, 0.73469388, 0.37142857, 0.5974026 , 0.02083333,
        0.13986854],
       [0.95918367, 0.        , 0.18571429, 0.88311688, 0.63888889,
        0.98426201],
       [0.97959184, 0.24489796, 0.04285714, 0.74025974, 0.71527778,
        0.52554008],
       [1.        , 1.        , 0.6       , 0.74025974, 0.54861111,
        0.65590469]])